<input type="text" [(ngModel)]="username">
<button (click)="click()" >Search</button>
<div *ngIf="response">
	<table>
		
<tr><td>Username</td><td>:</td><td><p>{{response.login}}</p></td></tr>
<tr><td>Id</td><td>:</td><td><p>{{response.id}}</p></td></tr>
<tr><td>Name</td><td>:</td><td><p>{{response.name}}</p></td></tr>
<tr><td>Avatar</td><td>:</td><td><p><img src="{{response.avatar_url}}"></p></td></tr>
<tr><td>Url</td><td>:</td><td><p>{{response.url}}</p></td></tr>
<tr><td>Type</td><td>:</td><td><p>{{response.type}}</p></td></tr>
<tr><td>Site Admin</td><td>:</td><td><p>{{response.site_admin}}</p></td></tr>
<tr><td>Blog</td><td>:</td><td><p>{{response.blog}}</p></td></tr>
<tr><td>Location</td><td>:</td><td><p>{{response.location}}</p></td></tr>
<tr><td>Email</td><td>:</td><td><p>{{response.email}}</p></td></tr>
<tr><td>Hireable</td><td>:</td><td><p>{{response.hireable}}</p></td></tr>
<tr><td>Bio</td><td>:</td><td><p>{{response.bio}}</p></td></tr>
<tr>public_repos<td></td><td>:</td><td><p>{{response.public_repos}}</p></td></tr>
<tr><td>public_gists</td><td>:</td><td><p>{{response.public_gists}}</p></td></tr>
<tr><td>following</td><td>:</td><td><p>{{response.following}}</p></td></tr>
<tr><td>followers</td><td>:</td><td><p>{{response.followers}}</p></td></tr>
<tr><td>created_at</td><td>:</td><td><p>{{response.created_at}}</p></td></tr>
<tr><td>updated_at</td><td>:</td><td><p>{{response.updated_at}}</p></td></tr>

</table>
</div>